/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-text);
  color: var(--accent-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image); 
  background-size: cover; 
  background-attachment: fixed; 
}

.header {
  margin: 100px 0;
}

.header-window {
  margin: 100px calc((100% - var(--main-width))/2);
  padding-top: clamp(7.5rem, 7.214rem + 1.429vw, 8.5rem);
  padding-bottom: 21px;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.adaptive-width {
  width: var(--main-width);
}

.header-heading {
  font-family: var(--accent-font), monospace;
  font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  font-variation-settings: 'wght' var(--font-weight-text);
  line-height: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  color: var(--accent-color);
  text-transform: uppercase; 
}

.header-subheading {
  font-family: var(--accent-font), monospace;
  font-size: clamp(0.875rem, 0.714rem + 0.804vw, 1.438rem);
  font-variation-settings: 'wght' var(--font-weight-text);
  line-height: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  color: var(--accent-color);
  text-transform: uppercase; 
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px 0 0 20px;
}

.theme-menu__button {
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  font-variation-settings: 'wght' var(--font-weight-text);
  line-height: 14px; 
  color: var(--accent-color);
  background-color: transparent; 
  text-transform: uppercase;
  border: none;
  position: relative;
  opacity: 1;
  transform-origin: left;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover, .theme-menu__button:disabled, .theme-menu__button:focus-visible {
  outline: none;
  cursor: pointer;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  color: var(--accent-color);
  position: absolute;
  top: 0;
  left: -15px;
}

.theme-menu__button:disabled {
  pointer-events: none
}

.theme-menu__button::after {
  content: '';
  background-color: var(--accent-color);
  display: block;
  height: 2px;
  transform: scaleX(0); 
  transform-origin: left;
  transition: transform 0.3s ease; 
}

.theme-menu__button:focus-visible::after { 
  transform: scaleX(1);
}

.article {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  margin: 0 calc((100% - var(--main-width))/2) 50px;
}

.article-heading {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-title);
  line-height: 21.78px;
  padding: 4px 10px 6px;
}

.image-section {
  position: relative;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.article-image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1; 
  margin-bottom: -4px;
}

.img-label {
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  font-variation-settings: 'wght' var(--font-weight-text);
  line-height: 14px;
  text-transform: uppercase;
  color: var(--img-label-color);
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  text-shadow: 1px 1px var(--outline-color);
}

@supports((-webkit-text-stroke: 1px var(--outline-color))) {
  .img-label {
      -webkit-text-stroke: 1px var(--outline-color);
      text-shadow: none;
  }
}

.article-сontent {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 26px 25px 27px;
}

.article-сontent-paragraph {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-text);
  line-height: 21px;
}

.like-button-content {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3px;
}

.card__icon-button {
  /* display: flex;
  align-items: end;
  justify-content: center; */
  outline: none;
  height: 38px;
  padding: 0;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--accent-color);
}

.sparks {
  opacity: 0;
}

.like-icon:hover {
  cursor: pointer;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--heart-body-color);
  transition: fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-body-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-body-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-body-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-body-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon .contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}

.card__like-button {
  outline: none;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  width: 130px;
  height: 38px;
  position: relative;
  padding: 10.5px 35px;
}

.button__text {
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  font-variation-settings: 'wght' var(--font-weight-text);
  line-height: 12.6px;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.footer-window {
  width: 100%;
  padding: 0 0 100px;
  display: flex;
  justify-content: center;
}

.save-button {
  outline: none;
  border: 2px solid var(--accent-color);
  padding: 15px 20px;
  background-color: var(--bg-color);
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.save-icon {
  position: relative;
  z-index: 1;
  width: 21px;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button:hover {
  cursor: pointer;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  display: block;
  transform: scaleX(0); 
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out; 
}

#save-dialog[open] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  width: clamp(320px, 357px, 353px);
  padding: 32px 30px;
  background-color: var(--bg-color);
  align-items: center;
  border: 2px solid var(--accent-color);
}

#save-dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.save-dialogue-icon {
  width: 39px;
  color: var(--accent-color);
}

.save-dialog-text {
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  font-variation-settings: 'wght' var(--font-weight-text);
  line-height: 21px;
  text-transform: uppercase;
  color: var(--accent-color);
  width: 234px;
}

.save-dialog-button {
  outline: none;
  margin-top: 18px;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  height: 38px;
  position: relative;
  flex-grow: 1;
}

.save-dialog-button > .button__text {
  text-transform: uppercase;
}

.img-grayscale {
  filter: grayscale(0.6);
}

.img-brightness {
  filter: brightness(115%);
}

.img-saturate {
  filter: saturate(300%);
}

.img-contrast {
  filter: contrast(70%);
}

.img-blur {
  filter: blur(0.2rem);
}

.img-opacity {
  filter: opacity(50%);
}

.img-multi-filter {
  filter: contrast(70%) saturate(300%) brightness(115%);
}

@media (width <= 375px) {
  .adaptive-width { 
    width: 100%;
    margin: 0 0 50px;
  }

  .theme-menu__list {
    padding: 3px 0 0 20px;
  }

  .article-heading {
    padding: 4px 10px 5px;
  }

  .article-сontent {
    padding: 25px 25px 27px;
  }

  .img-label {
    top: 23px;
    right: 11px;
  }

  .save-button {
    flex-direction: column;
    justify-items: center;
    gap: 9px;
  }

  .save-icon {
    width: 28px;
  }

  #save-dialog[open] {
    width: clamp(320px, 345px, 353px);
    padding: 32px 42px;
  }

  .save-dialog-text {
    width: 198px;
  }
}