/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  height: 100vh; 
  width: 100%;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-text) var(--font-weight-title);
  color: var(--accent-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image); 
  background-size: cover; 
  background-attachment: fixed; 
}

.header {
  margin: 100px 0;
}


.header-window {
  margin: 100px calc((100% - var(--main-width))/2);
  padding-top: clamp(7.5rem, 7.214rem + 1.429vw, 8.5rem);
  padding-bottom: 21px;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.adaptive-width {
  width: var(--main-width);
}

.header-heading {
  font-family: var(--accent-font), monospace;
  font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  font-weight: var(--font-weight-text); 
  line-height: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  color: var(--accent-color);
  text-transform: uppercase; 
}

.header-subheading {
  font-family: var(--accent-font), monospace;
  font-size: clamp(0.875rem, 0.714rem + 0.804vw, 1.438rem);
  font-weight: var(--font-weight-text);
  line-height: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  color: var(--accent-color);
  text-transform: uppercase; 
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px 0 0 20px;
}

.theme-menu__button {
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  font-weight: var(--font-weight-text);
  line-height: 14px; 
  color: var(--accent-color);
  background-color: transparent; 
  text-transform: uppercase;
  border: none;
  position: relative;
}

.theme-menu__button:disabled::before {
  content: '▶';
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  font-weight: var(--font-weight-text); 
  line-height: 14px; 
  color: var(--accent-color);
  position: absolute;
  top: 0;
  left: -15px;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(4px);
  }
}

.theme-menu__button:hover, .theme-menu__button:disabled, .theme-menu__button:focus-visible {
  outline: none;
  cursor: pointer;
  color: var(--theme-menu-button-color);
  transition: color 0.3s ease;
}

.theme-menu__button:disabled, .theme-menu__button:focus-visible {
  pointer-events: none
}

.theme-menu__button::after {
  content: '';
  background-color: var(--theme-menu-button-color);
  display: block;
  height: 2px;
  transform: scaleX(0); 
}

.theme-menu__button:focus-visible::after { 
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease; 
}

.article {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  margin: 0 calc((100% - var(--main-width))/2) 50px;
}

.article-heading {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: var(--font-weight-title);
  line-height: 21.78px;
  padding: 4px 10px 6px; 
}

img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border: 4px solid var(--accent-color);
}

.image-section {
  position: relative;}

.img-label {
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  font-weight: var(--font-weight-text);
  line-height: 14px;
  text-transform: uppercase;
  color: var(--img-label-color);
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
}

@supports((-webkit-text-stroke: 1px var(--outline-color))) {
  .img-label {
      -webkit-text-stroke: 1px var(--outline-color);
      text-shadow: none;
  }
}

.article-сontent {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 19.5px 27px 20px;
}

.article-сontent-paragraph {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: var(--font-weight-text);
  line-height: 21px;
}

.like-button-content {
  display: flex;
  justify-content: end;
  gap: 2px;
  border: 1px solid transparent;
}

.card__icon-button {
  outline: none;
  background-color: transparent;
  border: none;
}

.sparks {
  opacity: 0;
}

.like-icon:hover {
  cursor: pointer;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--heart-body-color);
  transition: fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-body-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-body-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-body-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-body-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-scale 0.3s 0.1s ease-in 2 alternate;
}

@keyframes heart-scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.like-icon.is-liked .sparks {
  animation: sparks-appear 0.3s 0.3s ease-in 2 alternate;
}

@keyframes sparks-appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.like-icon.is-liked .sparks {
  animation: sparks-appear 0.3s 0.3s ease-in 2 alternate;
}

.like-icon .heart {
  fill: transparent;
  transition: fill 0.1s linear;
}

.like-icon .contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
}

.card__like-button {
  outline: none;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  width: 130px;
  height: 38px;
  position: relative;
}

.button__text {
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  font-weight: var(--font-weight-text);
  line-height: 12.6px;
}

.footer-window {
  width: 100%;
  padding: 0 0 100px;
  display: flex;
  justify-content: center;
}

.save-button {
  outline: none;
  border: 2px solid var(--accent-color);
  padding: 15px 20px;
  background-color: var(--bg-color);
  position: relative;
}

.save-button-content {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.save-button-icon {
  width: 21px;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.card__like-button:focus-visible, .save-button:focus-visible, .save-dialog-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.card__like-button:hover, .save-button:hover, .save-dialog-button:hover {
  cursor: pointer;
}

.card__like-button::after, .save-button::after, .save-dialog-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  display: block;
  transform: scaleX(0); 
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::after, .save-button:hover::after, .save-dialog-button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out; 
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

#save-dialog[open] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  width: clamp(320px, 357px, 353px);
  height: 195px;
  padding: 0 32px 30px;
  background-color: var(--bg-color);
  align-items: center;
}

#save-dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.save-dialogue-icon {
  width: 39px;
}

.save-dialog-text {
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  font-weight: var(--font-weight-text);
  line-height: 21px;
  text-transform: uppercase;
}

.save-dialog-button {
  outline: none;
  margin-top: 18px;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  height: 38px;
  position: relative;
  flex-grow: 1;
}

.save-dialog-button > .button__text {
  text-transform: uppercase;
}

.img-grayscale {
  filter: grayscale(0.6);
}

.img-brightness {
  filter: brightness(115%);
}

.img-saturate {
  filter: saturate(300%);
}

.img-contrast {
  filter: contrast(70%);
}

.img-blur {
  filter: blur(0.2rem);
}

.img-opacity {
  filter: opacity(50%);
}

.img-multi-filter {
  filter: contrast(70%) saturate(300%) brightness(115%);
}

@media (width <= 375px) {
  .adaptive-width { 
    width: 100%;
    margin: 0 0 50px;
  }

  .article-сontent {
    padding: 24px 25px 21px;
  }

  .img-label {
    top: 23px;
    right: 11px;
  }

  .save-button-content {
    flex-direction: column;
    justify-items: center;
  }

  .save-button-icon {
    width: 28px;
  }

  #save-dialog[open] {
    width: clamp(320px, 345px, 353px);
    padding: 32px 42px;
  }
}